
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}


/* Share Style */
  .display-flex{
    display: flex;
  }

  .dark-2{
    color: #424242;
  }

  .dark-3{
    color:#727272 ;
  }

  .bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .description{
    font-size: 1rem;
    font-size: 500;
  }

  .btn-primary{
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .btn-primary:hover{
    background-color: #c26f10;
  }

  .primary-color{
    color: #FF900E;
  }

  section{
    max-width: 1440px;
    margin: 100px auto;
  }

  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
  }

  .some-facts > h3{
    margin-bottom: 24px;
  }

  .some-facts p{
    width: 542px;
    line-height: 26px;
  }

  /* header */

  header{
  }

  .manu-ber{
    justify-content: space-between;
    align-items: center;
    padding: 50px;

  }

  .logo-text{
   font-size: 2.8rem;
   font-weight:700;
  }

  .manu-items{
  }



  .manu-items li{
    list-style: none;
    margin-right: 40px;
  }

  .manu-items li a{
  text-decoration: none;
  font-size:18px ;
  font-weight: 500;
  }

  .manu-ber, .banner{
    max-width: 1440px;
    margin: 0px auto;
  }

  /* banner section */

  .banner{
    margin-top: 50px;
  }

  .banner-title{
    font-size: 4rem;
    font-weight:700;
  }

  .banner-p{
    margin: 32px 0px;
  }

  .banner-text{
    max-width: 862px;
    height: 225px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 135px;

  }

  .banner img{
    width: 100%;
    padding-bottom: 45px;
  }




  /* Main Start */

  main{
    max-width: 1440px;
    margin: 0px auto;
  }

  main > section{
    margin-top: 100px;
  }

  .team{
    align-items: center;

  }


  .team-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
  }

  .team-feature{
    margin-left: 73px;
    max-width: 537px;
    height: 304px;
  }


  .team-feature h3{
    font-size: 2.8rem;
    margin-bottom: 24px;
    font-weight: 700;
  }

  
  .team-feature p{
    margin-bottom: 32px;
    line-height: 26px;
  }

  .feature-title-custom{
    font-weight: 500;
   }


   /* Some Facts */

   .fact-items{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin-top: 50px;
    
   }

  

   .fact-card{
    border: 1px solid #FF900E;
    max-width: 241px;
    height: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  

   }

   .fact-card img{
    width: 45px;
    height: 45px;

   }

   .fact-card h3{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
   }

   .fact-card h5{
    font-size: 1.25rem;
    font-weight: 600px;
   }

   .sponsors-info h3{
    margin-bottom: 24px;
    text-align: center;
   }

   .sponsors-info p{
    width: 542px;
    height: 52px;
    margin: 0px auto;
    text-align: center;
    line-height: 26px;
    margin-bottom: 50px;
   }

   .sponsors-companis{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    
   }

   .sponsors-companis img{
    filter: grayscale(100%);
    width: 150px;
    height: 38px;
   }

   .feature-content p{
    line-height: 26px;
    margin-top: 24px;
   }

   #hello{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
   }

   .card-father{
    margin-top: 30px;
   }

   .card{
    max-width: 514px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 35px;
    margin-bottom: 20px;
   }

   .card-father h4{
    font-size: 1.25rem;
    font-weight: 600;
    
   }

   .card-father p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
   }

   .feature-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
   }

   #experience-badge{
    padding: 45px 42px;
    margin-top: -92px;
    margin-left:-77px;
   }

   #experience-year{
    font-size: 4rem;
    font-weight: 700;
   }

   #experience{
    font-size: 1.5rem;
    font-weight: 500;
   }

   .footer{
    background-color: #FFF4E7;
   }

   .footer p{
    text-align: center;
    padding: 38px 400px;
    font-size: 1.25rem;
    font-weight: 500;
   }





     /* Responsive Media quary */

  @media screen and (max-width:576px) {
    .manu-ber , .manu-items , .team{
      flex-direction:column;
    }
    .footer p{
      padding: 38px 0px;
     
     }

    .feature-details{
      flex-direction: column;
    }

    #experience-badge{
      padding: 45px 42px;
      margin-top: 20px;
      margin-left: 20px;
     }

    .manu-items{
      margin-top: 30px;
      text-align: center;
    }

   .banner-title{
    font-size: 50px;
    margin-top: 0px;
   }

   .banner{
    margin-top: 0px;
  }

  .picture{
    margin-top: 50px;
  }

  .team-container{
    grid-template-columns: repeat(1 , 1fr);
  }

  .team-feature{
    margin-left: 38px;
    margin-top: 30px;
  
  }


   
  
  .fact-items{
    grid-template-columns: repeat(1 , 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    
   }

   .fact-card{
    margin: 0px auto;
    padding: 24px;
   }

   .sponsors-companis{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    
   }

   .sponsors-companis img{
    margin: 0px auto;
   }

   .some-facts > h3{
    margin-bottom: 24px;
    text-align: center;
  }

  .some-facts p{
    max-width: 542px;
    line-height: 26px;
    margin: 0px auto;
    text-align: center;
  }



  }

  @media screen and (min-width:576px) and (max-width:991px){
    .team{
      flex-direction: column;
      margin-top: 40px;
      
    }

    .footer p{
      padding: 38px 0px;
      font-size: 1rem;
     
     }


    #experience-badge{
      padding: 45px 42px;
      margin-top: 20px;
      margin-left: 20px;
     }

    .feature-details{
      flex-direction: column;
    }

    

    .some-facts > h3{
      margin-bottom: 24px;
      text-align: center;
    }
  
    .some-facts p{
      max-width: 542px;
      line-height: 26px;
      margin: 0px auto;
      text-align: center;
    }

    .sponsors-companis{
      grid-template-columns: repeat(2,1fr);
      gap: 40px;
      
     }

     .sponsors-companis img{
      margin: 0px auto;

     }



    .team-container{
      margin-bottom: 40px;
    }

    .team-feature{
      margin: 0px auto;
    }

    .fact-items{
      grid-template-columns: repeat(2 , 1fr);
      gap: 30px;
     }

     .fact-card{
      margin: 0px auto;
      padding: 24px;
     }
  
   
  
 
  }

  /* Media Quary End */



 

